body {
  font-size: 1rem;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  line-height: 120%;
}

/* Set modules to float around each other */

section {
  background-color: white;
  display: inline-block;
  float: left;
  width: 12rem;
  padding: .5rem;
  margin: .8rem;
}

img {
  display: block;
  margin: auto;
  width: 150px;
  max-width: 100%;
}

/* Set styles for product color swatches */

ul {
  width: 100%;
  margin: .5rem auto .2rem 0;
}

.swatches li {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  border: 1px solid lightgrey;

  
  margin: .35rem;
  display: inline-block;
}

/* Set all swatch background colors */

.bg-pink {
  background-color: hotpink;
}

.bg-purple {
  background-color: purple;
}

.bg-green {
  background-color: green;
}

.bg-burgundy {
  background-color: maroon;
}

.bg-black {
  background-color: black;
}

.bg-blue {
  background-color: blue;
}

.bg-red {
  background-color: red;
}

.bg-orange {
  background-color: orange;
}

.bg-yellow {
  background-color: yellow;
}

.bg-ivory {
  background-color: ivory;
}

.bg-khaki {
  background-color: darkkhaki;
}

.bg-gold {
  background-color: gold;
}

.bg-coral {
  background-color: coral;
}

.bg-teal {
  background-color: darkcyan;
}

.bg-white {
  background-color: white;
}

a {
  text-decoration: none;
  color: #111111;
}

/* Set underlined hover state for product brand & name */

section a:nth-child(3):hover {
  text-decoration: underline;
  
}

h6 {
  font-size: 1rem;
  font-weight: 700;
}

/* Get product name to always take up 2 lines of space */

h6 + p {
  height: 2.5rem;
}

/* Style prices */

section a p:nth-child(1) {
  color: red;
  font-weight: bold;
  margin: 1rem 0 0 0;
}

.strikethrough {
  color: black;
  text-decoration: line-through;
  line-height: 180%
}

/* Style for Font Awesome stars */

i {
  color: #c15a22;
  color: hsl(21, 70%, 45%);
}

/* Get review count number after stars */

section p:nth-child(6) {
  display: inline;
}

/* Set margins for text spacing */

section p:last-of-type {
  margin: 0 0 1rem 0;
}

/* Styling for Compare button */

button {
  background-color: white;
  font-size: .85rem;
  color: #666666;
  display: block;
  margin: 1rem auto;
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: .5rem 1.25rem;
}

button:hover {
  background-color: #f0f0f0;
  background-color: hsl(0, 0%, 94%);
}